@implements IDisposable

@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="">SkipWatch</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Dashboard
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="channels">
                        Channels
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="topics">
                        Topics
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="projects">
                        Projects
                    </NavLink>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingsDropdown">
                        <li>
                            <NavLink class="dropdown-item" href="settings">
                                <i class="bi bi-sliders me-2"></i> Settings
                            </NavLink>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <ThemeSelector />
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
